/*FOOTER*/

.footer {
    background: var(--footer);
    border-radius: 4px;
    width: 90%;
    height: 40px;
    margin: 0 auto;
  }
  
  .end {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
    color: var(--parr);
  }