/*Parte del main*/
.main {
  width: 100%;
  overflow: hidden;
}

/*Section Historia*/
section {
  width: 100%;
}

.history {
  max-width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
}

.parr-1-2 {
  width: 40%;
  align-self: center;
}

.img-tulip7 {
  width: 58%;
  align-self: center;
}

.parr-3-4 {
  width: 70%;
}

.tulip7, .tulip8, .tulip9 {
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

.name {
  font-size: 35px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  color: var(--subTitulo);
}

.parr {
  font-size: 22px;
  color: var(--parr);
}

@media (max-width: 360px) {
  .parr {
    font-size: 5px;
    color: var(--parr);
  }
}