  .modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content{
    position: relative;
    top: 80px;
  }
  
  .modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-top: 0;
    border: 1px solid lightgray;
    width: 60%;
    height: 70%;
  }
  
  .tulip7, .tulip8 {
      cursor: pointer;
  }
  
  .modalContainer .modal-content img {
      width: 100%;
      height: 95%;
      border-radius: 5px;
  }
  
  .modalContainer .close {
    font-family: arial;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
  }
  
  .modalContainer .close:hover,
  .modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .new {
    display: block;
  }