@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-Bold.ttf");
}

body {
  background-color: whitesmoke;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Dancing Script";
}

.header {
  background-image: url(../Img/tulipan11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.header .titulo {
  width: 20%;
  height: 60px;
  display: inline-block;
}

.header .titulo .home {
  text-decoration: none;
}

.header .titulo .home .logo {
  margin: 0px;
  font-size: 50px;
  color: rgb(78, 6, 78);
}

nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  float: right;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 16px;
}

nav .menu li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
}

nav .menu li .item {
  text-decoration: none;
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  color: rgb(78, 6, 78);
}

nav .menu li .item:hover {
  text-decoration: underline;
}

.main {
  background: whitesmoke;
  width: 100%;
  overflow: hidden;
}

.history,
.cultivo,
.acerca-de {
  width: 100%;
}

.name {
  font-size: 35px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  color: purple;
}

.parr {
  text-align: justify;
  font-size: 28px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.img {
  background-image: url("../Img/tulipan6.jpg");
}

.img1 {
  background-image: url("../Img/tulipan12.jpg");
}

.img2 {
  background-image: url("../Img/tulipan13.jpg");
}

.img,
.img1,
.img2 {
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
  height: 500px;
}

.footer {
  background: grey;
  border-radius: 4px;
  width: 70%;
  height: 40px;
  margin: 0 auto;
}

.end {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: black;
}

/* TOGGLE */

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: none;
  margin-top: 5px;
}

/* MOBILE 576px*/
@media (max-width: 768px) {
  .header {
    height: 212px;
  }

  nav {
    border-radius: 4px;
    display: inline-block;
  }

  .menu {
    flex-direction: column;
    margin: 37px 0% 40px 5%;
    background-color: white;
    position: fixed;
    width: 40%;
    padding: 0px;
    opacity: 70%;
    border-radius: 4px;
    left: 100%;
    transition: left 0.8s;
  }

  nav .menu li {
    padding: 10px;
    display: block;
  }

  nav .menu li .item {
    font-size: 25px;
  }

  .nav-toggle {
    color: purple;
    position: fixed;
    display: block;
    left: 90%;
  }

  .menu_visible {
    left: 60%;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .name {
    font-size: 30px;
    margin-top: 15px;
    padding: 10px;
  }

  .parr {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .img,
  .img1,
  .img2 {
    width: 90%;
    height: 400px;
  }

  .footer {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    opacity: 80%;
  }

  .end {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .header {
    height: 210px;
  }

  .header .titulo .home .logo {
    font-size: 40px;
  }

  nav {
    border-radius: 4px;
    display: inline-block;
  }

  .nav-toggle {
    left: 85%;
  }

  .img,
  .img1,
  .img2 {
    width: 90%;
    height: 250px;
  }
}

@media (max-width: 330px) {
  .header {
    height: 132px;
  }

  .header .titulo .home .logo {
    font-size: 30px;
  }

  .menu {
    margin: 34px 0% 40px 5%;
  }

  nav .menu li {
    margin: 0px;
    padding: 5px;
  }

  nav .menu li .item {
    font-size: 20px;
  }

  .nav-toggle {
    font-size: 25px;
    left: 80%;
  }

  .menu_visible {
    left: 60%;
  }

  .name {
    font-size: 24px;
    margin-top: 5px;
  }

  .parr {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .img,
  .img1,
  .img2 {
    width: 90%;
    height: 200px;
  }

  .end {
    font-size: 12px;
  }
}
