@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-Bold.ttf");
}

/*Variables para cambiar los colores*/
:root {
  --fondo: whitesmoke;
  --title: purple;
  --subTitulo: purple;
  --parr: black;
  --footer: rgb(221, 175, 248);
}

body {
  background-color: var(--fondo);
  font-family: "Dancing Script";
}

.container {
  display: grid;
  max-width: 1000px;
  position: relative;
  margin: auto;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
}

/* TOGGLE */
.nav-toggle {
  color: var(--title);
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: none;
  margin-top: 14px;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

nav .menu li {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
}

nav .menu li .item {
  text-decoration: none;
  font-size: 30px;
  margin: 5px;
  padding: 5px;
  color: var(--title);
}

nav .menu li .item:hover {
  text-decoration: underline;
}